* {
    margin: 0;
    padding: 0;

}

.container {
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.nav-container {
    width: 100%;
    background-color: #F87100;

}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 0;
    transition: 0.4s all;

}

.nav-div {
    width: 100%;
    color: #fff;
    background-color: #F87100;
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}

.nav-div .nav-logo img {
    width: 180px;
    height: 70px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0;
}

.dropdown {
    cursor: pointer;
    transition: 0.4s all;
}

.dropdown:hover {
    color: #354b33;
}

.nav-link:hover {
    color: #354b33;
    text-decoration: none;

}

.nav-cart {
    text-decoration: none;
    color: #fff;
}

.nav-link sup {
    border-radius: 100%;
    background-color: #00a650;
    border: none;
    padding: 2px 5px;

}

/* F87100 */